c CNF file
c var 3 = High
c var 2 = Wing
c var 11 = Wood
c var 9 = Materials
c var 13 = Plastic
c var 10 = Metal
c var 5 = Low
c var 4 = Shoulder
c var 7 = Jet
c var 8 = Piston
c var 12 = Cloth
c var 1 = Aircraft
c var 6 = Engine
p cnf 13 19
1 0
-1 2 0
-2 1 0
-2 3 4 5 0
-3 2 0
-4 2 0
-5 2 0
-6 1 0
-6 7 8 0
-7 -8 0
-7 6 0
-8 6 0
-1 9 0
-9 1 0
-9 10 11 12 13 0
-10 9 0
-11 9 0
-12 9 0
-13 9 0